<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.mapper.SysOrderMapper">

    <resultMap id="SysOrderVOMap" type="com.order.vo.SysOrderVO">
        <id column="ID" property="id"/>
        <result column="ORDER_NO" property="orderNo"/>
        <result column="USER_ID" property="userId"/>
        <result column="ORDER_CREATE_TIME" property="orderCreateTime"/>
        <result column="USER_NAME" property="userName"/>
    </resultMap>

    <select id="selectOrderListWithUserName" resultMap="SysOrderVOMap">
        SELECT
            o."ID",
            o."ORDER_NO",
            o."USER_ID",
            o."ORDER_CREATE_TIME",
            u."USER_NAME"
        FROM "SYS_ORDER" o
        LEFT JOIN "sys_user" u ON o."USER_ID" = u."ID"
    </select>

</mapper>
